/*!
 * KnotandRings Full StyleSheet
 */


 html{
	height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    padding:0px;
    background: transparent;
    color: #fff;
}

h1,h2{
	margin: 0px;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #fff;
}

header{
    margin: 10px 0px;
}

button{
    width: 100%;
}

.home_text_head{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

section{
    min-width: 450px;
    max-width: 450px;
    margin: 0px auto;
    text-align: center;
}

.home_text_body{
    margin: 20px 0px;
}

header:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
}

h1.logo{
    float: left;
}

h1.logo a{
}



.nav p, .nav a{
    display: inline;
}

.nav a{
    margin-left: 10px;
}

ul.social{
    margin: 10px auto;
    padding: 0px;
}

ul.social>li{
    display: inline-block;
    /* width: 100%; */
}

ul.social>li>a{
    display: inherit;
    padding: 15px 40px;
    /* border-radius: 3px; */
}

a.fb{background: #3B5999;}
a.tw{background: #5EA9DD;}
a.goo{background: #DC4A38;}
a.homefb{}

.forgot{
    margin-top: 10px;
}

a.forgot, .forgot>a{
    text-decoration: underline;
    display: inline-block;
}

ul.bottom_links{
    text-align: right;
    margin-top: 100px;
}

ul.bottom_links li{
    display: inline-block;
    margin-left: 10px; 
}